# App settings
# --> General
ENVIRONMENT=local
FLASK_ENV=development
TESTING=False
SERVER_NAME=localhost
APP_PORT=5000
# --> Security
SECRET_KEY=N2KQtZIkctGJvIEeNsEOMz7sxacNxiQecJBloJg2YLFWBB
BCRYPT_LOG_ROUNDS=4
# External Services
# --> DB
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=shops
POSTGRES_DB_TEST=shops-test
POSTGRES_HOST=db
# --> GOOGLE CLOUD PLATEFORM
GOOGLE_CLOUD_API_KEY=-------------FILL-ME-------------
# --> Redis
REDIS_HOST=redis